In [1]:
%matplotlib inline
import seaborn as sns
import numpy as np
import pandas as pd
import json
import os

from datetime import datetime
from os import path
from matplotlib import pyplot as plt

In [2]:
station_df = pd.read_csv('../data/station_info.csv')
station_timeseries_df = pd.read_csv('../data/stations_timeseries.csv', index_col=0)

/usr/local/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
station_timeseries_df.columns

Index(['is_installed', 'is_renting', 'is_returning', 'last_reported',
       'num_bikes_available', 'num_bikes_disabled', 'num_docks_available',
       'num_docks_disabled', 'num_ebikes_available', 'query_ts', 'station_id',
       'fraction_full', 'full', 'empty', 'full_or_empty', 'half_full_dev'],
      dtype='object')

In [4]:
station_means.sort_values?

Object `station_means.sort_values` not found.

In [23]:
station_means = station_timeseries_df.groupby('station_id').mean()
cols = ['fraction_full', 'full', 'empty', 'full_or_empty', ]
sorted_means = station_means.sort_values('full', ascending=False).copy()
for i, station_id in enumerate(sorted_means.index):
    print('Station ID', station_id)
    
    my_station = station_df[station_df.station_id == station_id]
    cap = 0
    if my_station.size:
        name = my_station['name'].values[0]
        city = my_station['city'].values[0]
        cap = my_station['capacity'].values[0]
        print(name, city)
        print('capacity', cap)
    
    if cap == 0:
        continue
    
    my_station_means = sorted_means.loc[station_id]
    for c in cols:
        print('\t', c, my_station_means[c])

    if i > 30:
        break

Station ID 473
Willow St at Blewett Ave San Jose
capacity 0
Station ID 414
Station ID 458
Frederick St at Arguello Blvd San Francisco
capacity 0
Station ID 450
Funston Ave at Irving St San Francisco
capacity 0
Station ID 444
Mercado Way at Sierra Rd San Jose
capacity 0
Station ID 442
Newbury Park Dr at King Rd San Jose
capacity 0
Station ID 464
Station ID 451
10th Ave at Irving St San Francisco
capacity 0
Station ID 457
7th Ave at Irving St San Francisco
capacity 0
Station ID 468
Grove St at Gough St San Francisco
capacity 0
Station ID 469
Ellis St at Pierce St San Francisco
capacity 0
Station ID 471
Turk Blvd at Stanyan St San Francisco
capacity 0
Station ID 472
Columbia Ave at Bird Ave San Jose
capacity 0
Station ID 432
Quesada Ave at 3rd St San Francisco
capacity 19
	 fraction_full 0.319724545007
	 full 0.984899802427
	 empty 0.990121366074
	 full_or_empty 0.990121366074
Station ID 437
Evans Ave at Mendell St San Francisco
capacity 15
	 fraction_full 0.00537634408602
	 full 0.982500705617
	 empty 0.999717753316
	 full_or_empty 0.999717753316
Station ID 439
Post St at Divisadero St San Francisco
capacity 31
	 fraction_full 0.259448044855
	 full 0.937482359582
	 empty 0.938611346317
	 full_or_empty 0.938611346317
Station ID 466
5th Ave at Anza St San Francisco
capacity 21
	 fraction_full 0.580676092963
	 full 0.884372533544
	 empty 0.902131018153
	 full_or_empty 0.902131018153
Station ID 467
Brannan St at Colin P Kelly Jr St San Francisco
capacity 0
Station ID 441
Chestnut St at Van Ness Ave San Francisco
capacity 23
	 fraction_full 0.700770667055
	 full 0.833474456675
	 empty 0.821196725938
	 full_or_empty 0.833474456675
Station ID 434
Carroll Ave at 3rd St San Francisco
capacity 23
	 fraction_full 0.51187642528
	 full 0.831922099915
	 empty 0.821196725938
	 full_or_empty 0.831922099915
Station ID 438
Oakdale Ave at Phelps St San Francisco
capacity 19
	 fraction_full 0.516927678312
	 full 0.821196725938
	 empty 0.821196725938
	 full_or_empty 0.821196725938
Station ID 436
McKinnon Ave at 3rd St San Francisco
capacity 23
	 fraction_full 0.516591743592
	 full 0.821196725938
	 empty 0.821196725938
	 full_or_empty 0.821196725938
Station ID 435
Jennings St at Revere Ave San Francisco
capacity 19
	 fraction_full 0.78431114619
	 full 0.821196725938
	 empty 0.821196725938
	 full_or_empty 0.821196725938
Station ID 456
Arguello Blvd at Geary Blvd San Francisco
capacity 19
	 fraction_full 0.469444790614
	 full 0.719729425028
	 empty 0.714317925592
	 full_or_empty 0.719729425028
Station ID 455
McAllister St at Arguello Blvd San Francisco
capacity 19
	 fraction_full 0.578904877838
	 full 0.717087466186
	 empty 0.71438232642
	 full_or_empty 0.717087466186
Station ID 454
7th Ave at Cabrillo St San Francisco
capacity 23
	 fraction_full 0.512503470587
	 full 0.71438232642
	 empty 0.717989179441
	 full_or_empty 0.717989179441
Station ID 462
Cruise Terminal at Pier 27 San Francisco
capacity 23
	 fraction_full 0.673499321332
	 full 0.713481640311
	 empty 0.660412757974
	 full_or_empty 0.713481640311
Station ID 38
The Embarcadero at Pier 38 San Francisco
capacity 26
	 fraction_full 0.489471044209
	 full 0.666398498257
	 empty 0.670421024403
	 full_or_empty 0.676588897828
Station ID 463
Heron's Head Park San Francisco
capacity 27
	 fraction_full 0.583530649829
	 full 0.660321715818
	 empty 0.660321715818
	 full_or_empty 0.660321715818
Station ID 12
Pier 1/2 at The Embarcadero San Francisco
capacity 23
	 fraction_full 0.396077669064
	 full 0.625469168901
	 empty 0.634048257373
	 full_or_empty 0.635656836461
Station ID 453
Brannan St at 4th St San Francisco
capacity 19
	 fraction_full 0.381995410516
	 full 0.616427036853
	 empty 0.695422244257
	 full_or_empty 0.723516774087
Station ID 460
Terry Francois Blvd at Warriors Way San Francisco
capacity 42
	 fraction_full 0.554565466047
	 full 0.280278670954
	 empty 0.254287245445
	 full_or_empty 0.293944265809

In [22]:
station_timeseries_df[station_timeseries_df.station_id == 432]

,is_installed,is_renting,is_returning,last_reported,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,num_ebikes_available,query_ts,station_id,fraction_full,full,empty,full_or_empty,half_full_dev
369,0,0,0,86400,0,0,0,0,0,1566063309419,432,NaN,1,1,1,NaN
755,0,0,0,86400,0,0,0,0,0,1566063427613,432,NaN,1,1,1,NaN
1141,0,0,0,86400,0,0,0,0,0,1566063493936,432,NaN,1,1,1,NaN
1527,0,0,0,86400,0,0,0,0,0,1566063645971,432,NaN,1,1,1,NaN
1913,0,0,0,86400,0,0,0,0,0,1566063741508,432,NaN,1,1,1,NaN
2299,0,0,0,86400,0,0,0,0,0,1566064042031,432,NaN,1,1,1,NaN
2685,0,0,0,86400,0,0,0,0,0,1566064342929,432,NaN,1,1,1,NaN
3071,0,0,0,86400,0,0,0,0,0,1566064644005,432,NaN,1,1,1,NaN
3457,0,0,0,86400,0,0,0,0,0,1566064945091,432,NaN,1,1,1,NaN
3843,0,0,0,86400,0,0,0,0,0,1566065246138,432,NaN,1,1,1,NaN
4229,0,0,0,86400,0,0,0,0,0,1566065547208,432,NaN,1,1,1,NaN
4615,0,0,0,86400,0,0,0,0,0,1566065848459,432,NaN,1,1,1,NaN
5001,0,0,0,86400,0,0,0,0,0,1566066149542,432,NaN,1,1,1,NaN
5387,0,0,0,86400,0,0,0,0,0,1566066453063,432,NaN,1,1,1,NaN
5773,0,0,0,86400,0,0,0,0,0,1566066755394,432,NaN,1,1,1,NaN
6159,0,0,0,86400,0,0,0,0,0,1566067056433,432,NaN,1,1,1,NaN
6545,0,0,0,86400,0,0,0,0,0,1566067357506,432,NaN,1,1,1,NaN
6931,0,0,0,86400,0,0,0,0,0,1566067658453,432,NaN,1,1,1,NaN
7317,0,0,0,86400,0,0,0,0,0,1566067959479,432,NaN,1,1,1,NaN
7703,0,0,0,86400,0,0,0,0,0,1566068260500,432,NaN,1,1,1,NaN
8089,0,0,0,86400,0,0,0,0,0,1566068561517,432,NaN,1,1,1,NaN
8475,0,0,0,86400,0,0,0,0,0,1566068862430,432,NaN,1,1,1,NaN
8861,0,0,0,86400,0,0,0,0,0,1566069163377,432,NaN,1,1,1,NaN
9247,0,0,0,86400,0,0,0,0,0,1566069464590,432,NaN,1,1,1,NaN
9633,0,0,0,86400,0,0,0,0,0,1566069765520,432,NaN,1,1,1,NaN
10019,0,0,0,86400,0,0,0,0,0,1566070066669,432,NaN,1,1,1,NaN
10405,0,0,0,86400,0,0,0,0,0,1566070367751,432,NaN,1,1,1,NaN
10791,0,0,0,86400,0,0,0,0,0,1566070668739,432,NaN,1,1,1,NaN
11177,0,0,0,86400,0,0,0,0,0,1566070970552,432,NaN,1,1,1,NaN
11563,0,0,0,86400,0,0,0,0,0,1566071271700,432,NaN,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2785135,1,1,1,1570151924,9,0,10,0,0,1570155859686,432,0.473684,0,0,0,0.026316
2785540,1,1,1,1570151924,9,0,10,0,0,1570156161021,432,0.473684,0,0,0,0.026316
2785945,1,1,1,1570151924,9,0,10,0,0,1570156462225,432,0.473684,0,0,0,0.026316
2786350,1,1,1,1570151924,9,0,10,0,0,1570156913838,432,0.473684,0,0,0,0.026316
2786755,1,1,1,1570151924,9,0,10,0,0,1570157289593,432,0.473684,0,0,0,0.026316
2787160,1,1,1,1570151924,9,0,10,0,0,1570157590840,432,0.473684,0,0,0,0.026316
2787565,1,1,1,1570151924,9,0,10,0,0,1570157892175,432,0.473684,0,0,0,0.026316
2787969,1,1,1,1570151924,9,0,10,0,0,1570158343492,432,0.473684,0,0,0,0.026316
2788374,1,1,1,1570151924,9,0,10,0,0,1570158719849,432,0.473684,0,0,0,0.026316
2788779,1,1,1,1570151924,9,0,10,0,0,1570159021064,432,0.473684,0,0,0,0.026316
2789184,1,1,1,1570151924,9,0,10,0,0,1570159322342,432,0.473684,0,0,0,0.026316
2789589,1,1,1,1570151924,9,0,10,0,0,1570159773588,432,0.473684,0,0,0,0.026316
2789994,1,1,1,1570151924,9,0,10,0,0,1570160150000,432,0.473684,0,0,0,0.026316
2790399,1,1,1,1570151924,9,0,10,0,0,1570160451574,432,0.473684,0,0,0,0.026316
2790804,1,1,1,1570151924,9,0,10,0,0,1570160753283,432,0.473684,0,0,0,0.026316
2791209,1,1,1,1570151924,9,0,10,0,0,1570161054995,432,0.473684,0,0,0,0.026316
2791614,1,1,1,1570151924,9,0,10,0,0,1570161431931,432,0.473684,0,0,0,0.026316
2792019,1,1,1,1570151924,9,0,10,0,0,1570161733368,432,0.473684,0,0,0,0.026316
2792424,1,1,1,1570151924,9,0,10,0,0,1570162034046,432,0.473684,0,0,0,0.026316
2792829,1,1,1,1570151924,9,0,10,0,0,1570162410758,432,0.473684,0,0,0,0.026316
2793234,1,1,1,1570151924,9,0,10,0,0,1570162712089,432,0.473684,0,0,0,0.026316
2793639,1,1,1,1570151924,9,0,10,0,0,1570163013358,432,0.473684,0,0,0,0.026316
2794044,1,1,1,1570151924,9,0,10,0,0,1570163315648,432,0.473684,0,0,0,0.026316
2794449,1,1,1,1570151924,9,0,10,0,0,1570163616893,432,0.473684,0,0,0,0.026316
2794854,1,1,1,1570151924,9,0,10,0,0,1570163917601,432,0.473684,0,0,0,0.026316
2795259,1,1,1,1570163940,9,0,10,0,0,1570164218991,432,0.473684,0,0,0,0.026316
2795664,1,1,1,1570163940,9,0,10,0,0,1570164519957,432,0.473684,0,0,0,0.026316
2796069,1,1,1,1570163940,9,0,10,0,0,1570164821312,432,0.473684,0,0,0,0.026316
2796474,1,1,1,1570163940,9,0,10,0,0,1570165122561,432,0.473684,0,0,0,0.026316
2796879,1,1,1,1570163940,9,0,10,0,0,1570165423388,432,0.473684,0,0,0,0.026316

In [ ]:
sorted_ids = station_df.sort_values(['region', 'name']).station_id
sns.barplot(data=station_timeseries_df, x='station_id', y='fraction_full', order=sorted_ids)

In [ ]:
sns.barplot(data=station_timeseries_df, x='station_id', y='full', order=sorted_ids)

In [ ]:
sns.barplot(data=station_timeseries_df, x='station_id', y='empty', order=sorted_ids)